#about {
  

  .chefs {

  }

  .chef {


    img.chef-img {
      width: 100%;
    }

    .description {
      padding-top: 36px;
      padding-bottom: 40px;
      text-align: center;

      .name {
        font-size: 22px;
        color: #000000;
        line-height: 1.2;
      }

      .position {
        font-size: 16px;
        color: #636363;
        line-height: 1.2;
        margin-top: 6px;
      }
    }
  }
}