#order-form {
  padding-top: 70px;
  padding-bottom: 50px;

  .order-form-header {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 40px;
    margin-bottom: 30px;
    text-align: center;
  }

  .submit-btn {
    margin-top: 50px;
    width: 50%;
    height: 55px;
    background: transparent;
    border: solid 2px #c4ab9f;
    text-align: center;
    font-size: 18px;
    color: #b49383;
    transition-duration: .3s;
    text-decoration: none ;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
  }

  .submit-btn:hover {
    background: #c4ab9f;
    border: solid 2px #c4ab9f;
    color: #fff;
  }
}